@use 'imports' as imports;
@use 'utils' as utils;
@use 'variables' as *;

// region Containers
@include utils.generate-color-classes;
// region Grid
%grid-base {
  display: grid;
}

.grid {
  @extend %grid-base;

  // Dynamic vertical columns (each is a column of stacked cells)
  &.cols {
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, 1fr); // â† force equal column widths

    > .grid-col {
      display: grid;
      grid-auto-flow: row;
    }
  }

  // Dynamic horizontal rows (each is a row of inline cells)
  &.rows {
    grid-auto-flow: row;

    > .grid-row {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(0, 1fr)); // 4rem = min cell width
    }
  }

}

@include utils.generate-grid-gen-classes((1, 2, 3, 4, 5, 6, 7, 8, 9, 10));

// endregion

// region Flex
%flex-base {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex {
  @extend %flex-base;
  &-unjust {
    @extend %flex-base;
    justify-content: unset;
  }
  &-row {
    @extend %flex-base;
    flex-direction: row;
  }
  &-col {
    @extend %flex-base;
    flex-direction: column;
  }
}
// endregion

// region Other
.container {
  background: $container;
  padding: $container-padding;
  border-radius: $container-border-radius;
  border-width: 1px;
  border-style: solid;
}
.card {
  background: $card;
  padding: $card-padding;
  border-radius: $card-border-radius;
  border-width: 1px;
  border-style: solid;
}
.fill {
  width: 100%;
  height: 100%;
  flex: 1;
}
.w {
  $widths: 10, 25, 33, 50, 66, 75, 90, 100;
  @each $width in $widths {
    &#{$width} {
      @include utils.sub-widths($width);
    }
  }
}
.h {
  $heights: 10, 20, 25, 33, 50, 66, 75, 80, 90, 100;
  @each $height in $heights {
    &#{$height} {
      @include utils.sub-heights($height);
    }
  }
}
// endregion

// endregion
