
@use 'imports' as imports;
@use 'utils' as utils;
@use 'variables' as *;
@use 'interactable' as *;
@use 'containers' as *;

// region Core page styling
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border-color: transparent;
}
html {
  max-width: 100vw;
  min-height: 100vh;
  height: 100%;
}
body {
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  height: 100%;
  font-family: $font;
  background: $background;
  color: $text;
}
// endregion


