// region Imports & Util
@use './utils' as utils;
@use './variables' as *;

// Mixin for smooth hover transitions
@mixin transition($props...) {
  transition: $props 0.3s ease;
}

@mixin colored-button($name) {
  background: rgba(utils.get($variables, $name + '-500'), $button-opacity);
  backdrop-filter: blur(24px);
  border: 2px solid utils.get($variables, $name + '-900');

  &:hover {
    background: rgba(utils.get($variables, $name + '-800'), $button-opacity);

  }
}

@mixin sub-widths($number) {
  min-width: utils.unquote('#{$number}px');
  width: utils.unquote("#{$number}%");
  //max-width: utils.unquote("#{$number}%");
}
@mixin sub-heights($number) {
  min-height: utils.unquote('#{$number}px');
  height: utils.unquote("#{$number}%");
  //max-height: utils.unquote("#{$number}%");
}

@mixin generate-grid-gen-classes($sizes) {
  @each $size in $sizes {
    // Both width & height
    .grid-gen-#{$size} > * > * {
      min-width: #{$size}rem;
      min-height: #{$size}rem;
    }

    // Width only
    .grid-gen-#{$size}w > * > * {
      min-width: #{$size}rem;
    }

    // Height only
    .grid-gen-#{$size}h > * > * {
      min-height: #{$size}rem;
    }
  }
}

// First define the list of color names
$color-variants: (
  'dark',
  'light',
  'primary',
  'secondary',
  'tertiary',
  'quaternary',
  'red',
  'green',
  'blue',
  'cyan',
  'yellow',
  'magenta'
);
$shades: (50, 100, 200, 300, 400, 500, 600, 700, 800, 900);

@mixin generate-color-classes {
  @each $color in $color-variants {
    // Base color classes (using 500 shade)
    .#{$color} {
      background-color: utils.get($variables, $color);
    }
    // Default text variant (using 500 shade)
    .#{$color}-text {
      color: utils.get($variables, $color);
    }
    .#{$color}-text-border {
      text-shadow:
              -1px -1px 0 utils.get($variables, $color),
              1px -1px 0 utils.get($variables, $color),
              -1px  1px 0 utils.get($variables, $color),
              1px  1px 0 utils.get($variables, $color);
    }

    // Default border variant (using 500 shade)
    .#{$color}-border {
      border: 1px solid utils.get($variables, $color);
    }
    .#{$color}-border-color {
      border-color: utils.get($variables, $color);
    }

    // Default hover state (using 700 shade)
    .#{$color}-hover:hover {
      background-color: utils.get($variables, "#{$color}-700");
    }

    // Generate classes for each shade
    @each $shade in $shades {
      // Background variants
      .#{$color}-#{$shade} {
        background: utils.get($variables, "#{$color}-#{$shade}");
      }

      // Text variants
      .#{$color}-#{$shade}-text {
        color: utils.get($variables, "#{$color}-#{$shade}");
      }

      // Border variants
      .#{$color}-#{$shade}-border {
        border: 1px solid utils.get($variables, "#{$color}-#{$shade}");
      }
      .#{$color}-#{$shade}-border-color {
        border-color: utils.get($variables, "#{$color}-#{$shade}");
      }

      // Hover variants for each shade
      .#{$color}-#{$shade}-hover:hover {
        background-color: utils.get($variables, "#{$color}-#{if($shade < 900, $shade + 100, 900)}");
      }
    }
  }
}


// endregion

// region Core page styling
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border-color: transparent;
}
html {
  max-width: 100vw;
  min-height: 100vh;
  height: 100%;
}
// Base styles
body {
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  height: 100%;
  font-family: $font;
  background: $background;
  color: $text;
}

// endregion

// region Buttons
button {
  color: $button-text;
  font-weight: bold;
  @include transition(all);
  &:hover {
    transform: scale(1.05);
  }
}
/// region Buttons without an <i> inside
button:not(:has(> i)) {
  cursor: pointer;
  background: rgba($button, $button-opacity);
  border: 1px solid $button-border;
  padding: $button-padding;
  border-radius: $border-radius;
  $color-variants: 'primary', 'secondary', 'tertiary', 'quaternary', 'red', 'green', 'blue', 'cyan', 'yellow', 'magenta';
  @each $variant in $color-variants {
    &.#{$variant} {
      @include colored-button($variant);
    }
  }
  &.small {
    padding: $button-padding-small;
  }
  &.large {
    padding: $button-padding-large;
  }
  &:hover {
    background: $button-hover;
  }
}
/// endregion
// endregion

// region Containers
@include generate-color-classes;
// region Grid
%grid-base {
  display: grid;
}

.grid {
  @extend %grid-base;

  // Dynamic vertical columns (each is a column of stacked cells)
  &.cols {
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, 1fr); // â† force equal column widths

    > .grid-col {
      display: grid;
      grid-auto-flow: row;
    }
  }

  // Dynamic horizontal rows (each is a row of inline cells)
  &.rows {
    grid-auto-flow: row;

    > .grid-row {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(0, 1fr)); // 4rem = min cell width
    }
  }

}

@include generate-grid-gen-classes((1, 2, 3, 4, 5, 6, 7, 8, 9, 10));

// endregion

// region Flex
%flex-base {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex {
  @extend %flex-base;
  &-unjust {
    @extend %flex-base;
    justify-content: unset;
  }
  &-row {
    @extend %flex-base;
    flex-direction: row;
  }
  &-col {
    @extend %flex-base;
    flex-direction: column;
  }
}
// endregion

// region Other
.container {
  background: $container;
  padding: $container-padding;
  border-radius: $container-border-radius;
  border-width: 1px;
  border-style: solid;
}
.card {
  background: $card;
  padding: $card-padding;
  border-radius: $card-border-radius;
  border-width: 1px;
  border-style: solid;
}
.fill {
  width: 100%;
  height: 100%;
  flex: 1;
}
.w {
  $widths: 10, 25, 33, 50, 66, 75, 90, 100;
  @each $width in $widths {
    &#{$width} {
      @include sub-widths($width);
    }
  }
}
.h {
  $heights: 10, 20, 25, 33, 50, 66, 75, 80, 90, 100;
  @each $height in $heights {
    &#{$height} {
      @include sub-heights($height);
    }
  }
}
// endregion

// endregion
